@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">

    <h1 class="display-3 text-danger">
        Blooming Flower Shop
    </h1>

    <p class="lead">
        Fresh flowers delivered with love
    </p>

    <a href="/Flowers" class="btn btn-success btn-lg">
        Shop Now
    </a>

</div>
